*:root {
  box-sizing: border-box;
  --grid-columns: 1;
  --grid-rows: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
/* button styles */
button {
  background-color: plum;
  border: 1px solid plum;
  border-radius: .5em;
  padding: .5em;
  color: white;
}

button:hover {
  background-color: rgb(65, 29, 65);
}

button:active {
  background-color: rgb(65, 29, 65);
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

.options {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: .5em;
}

/* layout styles */
h1{
  margin-top: .5em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  min-height: 0;
  min-width: 0;
  
}

.item {
  padding: 1em;
  border: 1px solid black;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  min-width: 0;
  /* color: white; */
}

.bg {
  background-color: black;
}